<!DOCTYPE HTML>

<!-- This Source Code Form is subject to the terms of the Mozilla Public
     License, v. 2.0. If a copy of the MPL was not distributed with this file,
     You can obtain one at http://mozilla.org/MPL/2.0/.

    Source: https://github.com/tomlowenthal/privacy-policy-template/blob/master/privacy-policy.html

    -->

<html lang=en>
 <head>
  <meta charset="utf-8" />

  <title>About Us</title>
   <!--Make sure to put you app name in the page title-->

  <link href="about.xml" type="application/rss+xml" title="About" rel="alternate">
   <!--It's a good idea to provide an RSS feed of privacy policy updates so that users don't have to keep checking back to see if anything has changed. Especially if your feed doesn't change regularly, it doesn't take much work to update it by hand whenever you make a change. Of course, whenever you make a large change, it's still a good idea to push a notice out to your users, even if you do have an RSS feed. Make sure to remove the RSS section below if you don't use an update feed.-->

  <link rel="stylesheet" href="css/style.css" media="all" type="text/css">

  </head>

 <body>

   <header>
    <h1>About Us</h1>
    </header>

   <article>

    <section>

     <h1>Our Goal</h1>
     <p>Here at Helping Hands, we aim to enable community involvement through use of our website by
        providing relevant and easily accessible information and opportunities to our users!</p>
     &nbsp;&nbsp;
     &nbsp;&nbsp;
     <h1>Inspiration</h1>
     <p>Whether you are new to community involvement and are not sure of where to start or are new
        to a community, Helping Hands hopes to bridge the gap between willing community members and
        volunteer event coordinators by providing a one-stop site for users.</p>
     &nbsp;&nbsp;
     <h1>Our Team</h1>
     <p>Team</p>
     &nbsp;&nbsp;

     </section>


    </article>

  </body>

 </html>
