<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content ="width=device-width, initial-scale=1"/>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</head>
        
<nav class="navbar navbar-light bg-white">
        <a href="/" class="navbar-brand">Helping Hands</a>
        <form class="form-inline" method="POST" >
            <div class="input-group">
                <input name="search" id="search" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2" placeholder="Search Opportunities">
                <div class="input-group-append">
                    <div class="mr-xl-4 ml-2">
                    <button class="btn btn-outline-primary" type="submit" id="button-addon2">
                        <i class="fa fa-search"></i>
                    </button>
                    </div>
                    
                </div>
            </div>
            <div class="ml-xl-5 md-5 mr-4">
                <a class="btn btn-primary" href="/profile">Profile</a>
            </div>
            <a class="btn btn-primary" href="/logout">Logout</a>
            
        </form>
    </form>
    </nav>


    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <a href=/profile class="h5">@{{ user.username }}</a>
                        <div class="h7 text-muted">{{ user.first_name }} {{ user.last_name }}</div>
                        <div class="h7">Interested in {{ user.interest_1 }}, {{ user.interest_2 }}, {{ user.interest_3 }}, {{ user.interest_4 }}, {{ user.interest_5 }}
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">Volunteer Points</div>
                            <div class="h5">{{ user.points }}</div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">Status</div>
                            <div class="custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="customSwitch1">
                              <label class="custom-control-label" for="customSwitch1">Volunteer</label>
                              
                            </div>
                            <div class="custom-control custom-switch">
                              <div class="h6 text-muted"></div>
                              <input type="checkbox" class="custom-control-input" id="customSwitch2">
                              <label class="custom-control-label" for="customSwitch2">Seeking a Volunteer</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 gedf-main">

                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Make
                                    a posting</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images">Images</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                              <form method="POST">
                                <input name="note_title" id="note_title" class="form-control" placeholder="Title for your post"></input>
                                <textarea name="note" id="note" class="form-control" placeholder="What do you want to share?"></textarea>
                                <br />
                                <div class="btn-group">
                                  <button type="submit" class="btn btn-primary">share</button>
                              </div>
                              </form>

                            </div>
                            <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Upload image</label>
                                    </div>
                                </div>
                                <div class="py-4"></div>
                            </div>
                        </div>
                        <div class="btn-toolbar justify-content-between">
                        </div>
                    </div>
                </div>
                <!-- Post /////-->

                <!--- \\\\\\\Post-->
                <ul class="list-group list-group-flush" id="notes"></ul>
                {% for user in user.query.all() %}
                  {% for note in user.notes[::-1] %}
                  <div class="card gedf-card">
                      <div class="card-header">
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="d-flex justify-content-between align-items-center">
                                  <div class="mr-2">
                                      <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                  </div>
                                  <div class="ml-2">
                                      <!-- <div class="h5 m-0" >@{{ user.first_name }} </div> -->
                                      <a href=/profile/{{ user.username }} class="h5 m-0">@{{ user.username }}</a>
                                      <div class="h7 text-muted">{{ user.first_name }} {{ user.last_name }}</div>
                                  </div>
                              </div>
                              <div>
                                  <div class="dropdown">
                                      <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="fa fa-ellipsis-h"></i>
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                          <div class="h6 dropdown-header">Configuration</div>
                                          <form method="POST">
                                            <a class="dropdown-item form-control"href="/delete-post">Delete</a>
                                          </form>
                                          <a class="dropdown-item" href="#">Hide</a>
                                          <a class="dropdown-item" href="#">Report</a>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <div class="card-body">
                          <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{ note.date }}</div>
                          <a class="card-title">
                             <h5 class="card-title">{{note.title}}</h5> 
                          </a>
                          <p class="card-text">
                            {{ note.data }}
                          </p>
                      </div>
                      <div class="card-footer">
                          <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                          <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                          <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Save</a>
                      </div>
                  </div>
                  {% endfor %}
                  {% endfor %}
                </ul>
              <!-- Post /////-->

            </div>
            <div class="col-md-3">
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Opportunities by Interests</h5>
                        <h6 class="card-subtitle mb-2 text-muted">suggested</h6>
                        <p class="card-text">Here are a few opportunities we think you will like!</p>
                        <a href="#" class="card-link">Opportunites</a>
                    </div>
                </div>
                <div class="card gedf-card">
                        <div class="card-body">
                            <h5 class="card-title">Opportunities by Location</h5>
                            <h6 class="card-subtitle mb-2 text-muted">suggested</h6>
                            <p class="card-text">Here are a few opportunities near you!</p>
                            <a href="#" class="card-link">Opportunites</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</html>